<%= button_to "Find Top Rated Movies", movies_path, method: :get %>

<p>insert search bar here</p>

<p>insert list of movies based off of a movies api call</p>

<% @movies.each do |movie| %>
  <p><%= link_to movie[:title], movie_path(movie[:id]) %> Vote Average: <%= movie[:vote_average] %></p>
<% end %>